* {
    margin: 0;
    padding: 0;
}

section {
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div {
    flex-basis: 100%;
}

@media (min-width: 601px) {
    /* .orange, .blue {
        flex-basis: 100%;
    } */
    .brown, .black, .lightblue {
        flex-basis: calc(100%/3);
    }

}

@media (min-width: 801px) {
    .orange, .blue, .cyan, .red {
        flex-basis: 50%;
    }
    .brown, .black, .lightblue {
        flex-basis: calc(100%/3);
    }
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.black {
    background-color: black;
}

.lightblue {
    background-color: lightblue;
}

.cyan {
    background-color: cyan;
}

.red {
    background-color: red;
}